    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        background-color: #212121;
    }
    
    .parent {
        display: flex;
        flex-wrap: wrap;
        margin-left: 40px;
    }
    
    .card {
        width: 300px;
        background-color: #fff;
        border-radius: 10px;
        margin: 20px;
        padding: 30px;
        height: 300px;
    }
    
    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 40px;
        float: left;
    }
    
    .btn {
        border: 2px solid #ccc;
        color: #333;
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 5px;
        align-items: center;
        gap: 6px;
        float: right;
    }
    
    h3 {
        padding-top: 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    
    span {
        font-weight: 400;
        color: #333;
        font-size: 14px;
        padding-right: -20px;
    }
    
    h2 {
        padding-top: 7px;
    }
    
    h4 {
        background-color: #ccc;
        padding: 10px;
        font-size: 20px;
        border-radius: 5px;
        text-align: center;
        color: black;
        justify-content: space-between;
    }
    
    .time {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 10px;
    }
    
    .line {
        width: 200px;
        height: 10px;
        color: #333;
    }
    
    .bottom>div {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    
    .h3 {
        font-size: 30px;
        justify-content: space-between;
    }
    
    .apply {
        border: none;
        background-color: black;
        padding: 10px;
        color: white;
        border-radius: 5px;
        width: 110px;
        font-size: 17px;
        justify-content: space-between;
        float: right;
        margin-top: -40px;
    }
    
    p {
        color: #333;
        justify-content: space-between;
    }
    
    .bottom {
        margin-bottom: -600px;
    }
    
    .line {
        width: 100%;
        height: 10px;
        background-color: red;
        margin-top: 90px;
    }